
<p class="splutry-paragraph">
  <span class="splutry-id">Spurty No. <%= @quote.id %> / <%= Quote.count %></span> - You know life is great when...
</p>
<p>We just pulled this one fresh from <a href=" http://forismatic.com">A cool place to make API calls for quotes.</a><br />
<h1><%= @quote.saying %></h1>
<h2 class="float-right">--<%= @quote.author %></h2>
<a href="<%= @link %>" target="_blank"><%= @link %></a>
<br />
<br />
<br />
<br />

