<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="row">
    <div class="col-3">
    <div class="circle">
      <br />
      You know
      <br />
      you need
      <br />
      to code
    </div>
    </div>
    <div class="col-4 slogan">
    Splurting out unsolicited advise about life since 2017
    </div>
    <div class="col-5 links">
    <%= link_to 'Contribute', '#' %>
    <%= link_to 'About', '#' %>
    </div>
  </header>
  <hr />
  <br class="clear" />
  <div class="container">
  <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <%= link_to "This isn't enough, give me more!", '#', class: 'next-quote' %>
        </div>
        <div class="col-7">
          Proudly hacked in San Antonio, Texas for <a href="http://thefirehoseproject.om">The Firehose Project</a> by Terry<br />
          Wan't to build your own Splurty web app - <a href="http://thefirehoseproject.com">learn to code here</a><br />
        </div>
        <div class="col-2">
          <a href="https://twitter.com/terryllowery" class="twitter-follow-button" data-show-count="true">Follow @terryllowery</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
