<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="row">
    <div class="col-3">
      <%= link_to root_path, class: 'logo' do %>
    <div class="circle">
      <br />
      You know
      <br />
      you need
      <br />
      to code
    </div>
          <% end %>
    </div>
    <div class="col col-sm-4 hidden-xs-down slogan">
    Splurting out unsolicited advise about life since 2017
    </div>
    <div class="col-10 offset-1 offset-sm-0 col-sm-5 links">
      <!-- Button trigger modal -->
      <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
      &nbsp;&nbsp;
      <%= link_to 'About', about_path %>
      <%= link_to 'New Quote', call_api_path %>
    </div>
  </header>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Contribute your quote</h4>
        </div>
        <div class="modal-body">
          <h1>Enter your quote details</h1>
          <%= simple_form_for Quote.new do |f| %>
              <%= f.input :saying, label: 'What saying would you like to add?', placeholder: 'It is what it is.'%>
              <br />
              <%= f.input :author, label: 'Who is the author of this saying?', placeholder: 'Terry Lowery' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit :create, class: 'btn btn-danger'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <br class="clear" />
  <div class="container">
    <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
    <% end %>
  <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <%= link_to "This isn't enough, give me more!", root_path, class: 'next-quote' %>
        </div>
        <div class="col-12 col-sm-6 footer-blurb">
          Proudly hacked in San Antonio, Texas for <a href="http://thefirehoseproject.om">The Firehose Project</a> by Terry<br />
          Wan't to build your own Splurty web app - <a href="http://thefirehoseproject.com">learn to code here</a><br />
        </div>
        <div class="col-2">
          <a href="https://twitter.com/terryllowery" class="twitter-follow-button" data-show-count="true">Follow @terryllowery</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
